<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="dev.admin.AdminMapper">

	<resultMap id="VideoResultMap" type="dev.main.VideoVO">
        <result column="video_id" property="id" />
        <result column="video_title" property="title" />
        <result column="video_description" property="description" />
        <result column="video_url" property="url" />
        <result column="video_uploader_id" property="uploader_id" />
        <result column="video_uploaded_at" property="regdate" />
        <result column="category_id" property="category_id" />
    </resultMap>

	<select id="getUserCount" parameterType="dev.admin.USearchVO" resultType= "Integer">
		select count(*) 
			from tb_user_01 
			<where>
				<choose>
 					<when test="f != null and f.equals('userId')">
	                	and userId like CONCAT('%', #{q}, '%')
                	</when>
	                <when test="f != null and f.equals('userName')">
	                	and userName like CONCAT('%', #{q}, '%')
	                </when>
				</choose>
				and userFlag="Y"
			</where> 
	</select>
	
	<select id="userList" parameterType="dev.admin.USearchVO" resultType="dev.member.MemberVO" >
		select *
	            from (select @rownum:=@rownum+1 as num ,n.*
	                from( select userId as id,
						    userName as name,
						    userPass as pass,
						    userEmail as email,
						    `userRank` as `rank`,
						    userHpnum as tel,
						    regdate as regdate
	                    from tb_user_01
		            <where>
		            	<choose>
		                	<when test="f != null and f.equals('userId')">
		                    	and userId like CONCAT('%', #{q}, '%')
		                    </when>
		                    <when test="f != null and f.equals('userName')">
		                    	and userName like CONCAT('%', #{q}, '%')
		                    </when>
		                    <otherwise>
		                    	and userId like CONCAT('%', #{q}, '%')
		                    </otherwise>
		                </choose>
		            	and userFlag ='Y'
		            </where>
	            order by regdate desc)n
	            where (@rownum:=0)=0)num
	            where num.num between 1 + (#{p2} - 1 ) * 10 and #{p2} * 10
    </select>
    
    <select id="getCount" parameterType="dev.notice.SearchVO" resultType= "Integer">
		select count(*) 
			from tb_notice_01 
			<where>
				<choose>
 					<when test="f != null and f.equals('title')">
	                	and title like CONCAT('%', #{q}, '%')
                	</when>
	                <when test="f != null and f.equals('writedid')">
	                	and writedid like CONCAT('%', #{q}, '%')
	                </when>
				</choose>
				and useFlag="Y"
			</where> 
	</select>
	
	<select id="adminBoardList" parameterType="dev.board.BSearchVO" resultType="dev.board.BoardVO">
			select *
	            from (select @rownum:=@rownum+1 as num ,n.*
	                from( select *
	                    from tb_board_01
		            <where>
		            	<choose>
		                	<when test="f != null and f.equals('title')">
		                    	and title like CONCAT('%', #{q}, '%')
		                    </when>
		                    <when test="f != null and f.equals('writedid')">
		                    	and writedid like CONCAT('%', #{q}, '%')
		                    </when>
		                    <otherwise>
		                    	and title like CONCAT('%', #{q}, '%')
		                    </otherwise>
		                </choose>
		            	and useFlag ='Y'
		            </where>
	            order by regdate desc)n
	            where (@rownum:=0)=0)num
	            where num.num between 1 + (#{p2} - 1 ) * 10 and #{p2} * 10
	</select>
	
	<select id="adminVideoCount" parameterType="dev.lecture.LSearchVO" resultType= "Integer">
		select count(*) 
			from tb_video 
			<where>
				<choose>
 					<when test="f != null and f.equals('title')">
	                	and video_title like CONCAT('%', #{q}, '%')
                	</when>
	                <when test="f != null and f.equals('description')">
	                	and video_description like CONCAT('%', #{q}, '%')
	                </when>
				</choose>
			</where> 
	</select>
	
	<select id="adminVideoList" parameterType="dev.lecture.LSearchVO" resultType="dev.main.VideoVO" resultMap="VideoResultMap">
			select *
	            from (select @rownum:=@rownum+1 as num ,n.*
	                from( select *
	                    from tb_video
		            <where>
		            	<choose>
		                	<when test="f != null and f.equals('title')">
		                    	and video_title like CONCAT('%', #{q}, '%')
		                    </when>
		                    <when test="f != null and f.equals('uploader_id')">
		                    	and uploader_id like CONCAT('%', #{q}, '%')
		                    </when>
		                    <otherwise>
		                    	and video_title like CONCAT('%', #{q}, '%')
		                    </otherwise>
		                </choose>
		            </where>
	            order by video_uploaded_at desc)n
	            where (@rownum:=0)=0)num
	            where num.num between 1 + (#{p2} - 1 ) * 10 and #{p2} * 10
	</select>

</mapper>


