a {color: black;}
section { margin-top: 100px; }
/* section-wrap */
.board-list {
  width: 70%;
  margin: 0 auto;
  position: relative;
}
/* 문의하기 버튼  */
#qna-button {
  display: block;
  padding: 10px;
  border-style: none;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: -45px;
}

/*관리자 삭제 버튼*/
#del-btn{
  background-color: #73d09a;  
  padding: 7px 10px; 
  color: #fff;
  border-style: none;
  border-radius: 5px;
  cursor: pointer;
}

#del-btn:hover {
    background-color: #FF1212;
}

.post-item {
  background-color: #f8f9fa;
}
.post-author,
.post-date {
  width: 15%;
}
table {
  border-collapse: collapse; 
  width: 100%; 
  text-align: center;
  font-size: 14px;
}

th {
  border-top: 1px solid #999; 
  border-bottom: 1px solid #999; 
  padding: 15px 0; 
}

td {
  border-bottom: 1px solid #ddd; 
  padding: 15px 0; 
}
.fi-sr-file-upload{
	color: skyblue;
}

.paging {
    text-align: center;
    margin-top: 20px;
}

.paging a {
    text-decoration: none;
    margin: 0 5px;
    font-size: 16px;
}

.paging a:hover {
    text-decoration: underline;
}

.paging p {
    font-size: 16px;
    color: #777;
}

.clear {
    border: 1px solid #ccc; /* Add a border to the container */
    border-radius: 5px;
    width: 65%;
    margin: 0 auto 30px auto;
}

.search01 {
    padding: 5px;
    height: 30px;
    border-style: none;
    width: 80%;
}

.btn-search01 {
	background-color: #fff;
    color: #000;
    border: none;
    padding: 8px 15px;
    cursor: pointer;
    border-radius: 5px;
}

select {
	border-style: none;
    height: 36px;
    text-align: center;
    padding: 0 3px;
}
#search-result{
	height: 300px;
    margin-top: 15px;
}
.search02{
	border-style: none;
}
.board-section{
	position: relative;
}
#select-box{
	width: 20%;
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    justify-content: space-around;
    position: absolute;
    top: -40px;
    right: 230px;
    height: 30px;
}
.f-l{
	height: 25px;
	
}
.f-2{
	padding-right: 5px;
	background-color: #fff;
    color: #000;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}